.main {
    /*background: linear-gradient(-45deg, #BBD0FC, #276CF5, #0949C8, #052970);*/
    background-size: 200% 200%;
    height: 700px;
    width: 100%;
    animation: animacion 80s ease-in-out infinite;
    background-image: url(resources_index/Montaña.jpg);
}

.text {
    border: solid 2px white;
    border-radius: 20px;
    letter-spacing: 10px;
    padding: 5px;
    padding-left: 15px;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-family: serif;
}

.imgicon{
    position: relative;
    width: 200px;
    top: 15%;
    left: 21%;
    transform: translate(0%, 0%);
}

.textt{
    text-align: justify;
    margin: 18px;
}

h1{
    text-align: center;
}


#carouselExampleCaptions {
  max-height: 580px;
  max-width: 50%;
  overflow: hidden;
}

#carouselExampleCaptions .carousel-item img {
  width: 50%;
  height: 580px;
  object-fit: fill;
}

.carousel{
    border-radius: 10%;
    top: 0%;
    left: 24%;
    transform: translate(0%, 0%);
}

@keyframes animacion {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }

}