html, body{
    box-sizing: border-box;
    overflow-x: hidden; 
}

body{
    background-image: url(resources_chinese/Food2light.png);
}

.img-platillo {
  width: 100% !important;
  height: 150px !important; 
  object-fit: cover !important;
}

.point{
  text-decoration: none;
  color: #ffffff;
  cursor: text;
}

@font-face {
  font-family: 'Main' ;
  src: url(Font/Font_use/CHINESETAKEAWAY.ttf);
}

@font-face {
  font-family: 'Sub' ;
  src: url(Font/Font_use/annabel\ 1.otf);
}

.container_chinese {
    position: relative; 
    width: 100%;
    max-width: 100%; 
    overflow: hidden; 
}

.img_main {
    width: 100%;
    height: 600px; 
    display: block;
}

.Logo {
    width: 10%; 
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(0, -50%);
    border-radius: 10px;
}

.text_chinese {
    font-family: 'Main';
    font-size: 6vw;
    position: absolute;
    top: 50%;
    left: 30%;
    -webkit-text-stroke: 2px black;
    color: rgba(255, 217, 0, 0.466);
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}

.text_chinese2{
    font-family: 'Main';
    font-size: 2.5vw;
    position: absolute;
    top: 65%;
    left: 33%;
    -webkit-text-stroke: 2px black;
    color: rgba(255, 217, 0, 0.925);
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}

.container_content{
    width: 100%;
    max-width: 100%; 
    overflow: hidden; 
}

.Bgred{
    position: absolute;
}

section{
    position: absolute;
    /*border: 2px solid #e7da24;*/
    width: 40%;
    max-width: 100%;
    height: 700px;
    top: -455px;
    right: -170px;
    z-index: 1;
}
#colone{
    margin: 15px 25px 0px 0px;
    text-align: center;
    background-color: rgba(172, 109, 37, 0.767);
    border-radius: 10px;
    background-image: url(resources_chinese/bg_fu.png);
    color: aliceblue;
    padding: 25px;
    /*border: 1px solid salmon;*/
}

#coltwo{
    margin: 20px 0px 40px 0px;
}

#colthree{
    margin: 10px 0px 40px 45px;
}

#colfour{
    margin: 30px 0px 45px 75px;
}

table td{
    background-color: rgb(123, 144, 175) !important;
}

.Title_text{
    font-size: 20px;
    margin-bottom: 10px;
}


/* Extra pequeño (teléfonos) */
@media (max-width: 576px) {
    .img_main{
        width: 100%;
        max-width: 100%;
        height: 400px;
    }

    .ImageChiresponsive{
        display: none;
    }

    .text_chinese{
        font-family: 'Main';
        font-size: 12vw;
        position: absolute;
        top: 60%;
        left: 50%;
        -webkit-text-stroke: 1.5px black;
        color: rgba(255, 217, 0, 0.466);
        transform: translate(-50%, -50%);
        text-align: center;
        white-space: nowrap;
    }

    .text_chinese2{
        font-family: 'Main';
        font-size: 6vw;
        position: absolute;
        top: 75%;
        left: 49%;
        -webkit-text-stroke: 1px black;
        color: rgba(255, 217, 0, 0.925);
        transform: translate(-50%, -50%);
        text-align: center;
        white-space: nowrap;
    }

    .Logoresponsive{
        width: 30%; 
        position: absolute;
        top: 30%;
        right: 5%;
        transform: translate(0, -50%);
        border-radius: 8px;
    }

    .Woaresponsive{
        margin-top: 90vh !important; 
        height: 600px; 
        z-index: 2;
    }

    .textresponsive{
        font-family: 'Main'; 
        transform: translate(0%, 70%)!important; 
        background-color: #00000067;  
        text-align: center; 
        width: 100% !important; 
        font-size: 50px !important;  
        color: azure;
        text-align: center;
    }

    #coltwo{
        margin: 20px 0px 40px 45px !important;
    }

    #colfour{
        margin: 20px 0px 40px 30px !important;
        box-shadow: none;
    }

   .containerresposive{
        width: 100%;
        max-width: 100%;
        background-image: url("resources_chinese/Bg_red.png");
        margin-top: 25vh;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center;
        background-attachment: scroll; 
        z-index: 2;
   }

}

/* Pequeño (móviles grandes en vertical) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Teléfonos grandes y tablets en vertical */
    .ImageChiresponsive{
        display: none;
    }

    .Woaresponsive{
        margin-top: 52vh !important; 
        height: 600px; 
        z-index: 2;
    }

    .text_chinese{
        font-family: 'Main';
        font-size: 12vw;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-text-stroke: 1.5px black;
        color: rgba(255, 217, 0, 0.466);
        transform: translate(-50%, -50%);
        text-align: center;
        white-space: nowrap;
    }

    .text_chinese2{
        font-family: 'Main';
        font-size: 6vw;
        position: absolute;
        top: 65%;
        left: 49%;
        -webkit-text-stroke: 1px black;
        color: rgba(255, 217, 0, 0.925);
        transform: translate(-50%, -50%);
        text-align: center;
        white-space: nowrap;
    }

    .Logoresponsive{
        width: 30%;
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(0, -50%);
        border-radius: 8px;
    }

    .textresponsive{
        font-family: 'Main'; 
        transform: translate(1%, 55%)!important; 
        background-color: #00000067;  
        text-align: center; 
        width: 100% !important; 
        font-size: 65px !important;  
        color: azure;
        text-align: center;
    }

    #coltwo{
        margin: 20px 0px 40px 0px;
}

    .cardresponsive{
        width: 350px !important;
        margin: 5px 0px 5px 0px;
    }

    .cardresponsive2{
        width: 350px !important;
        margin: 20px 0px 40px 40px;
    }

}

/* Mediano (tablets en horizontal, pantallas pequeñas) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Tablets horizontales */
    .ImageChiresponsive{
        display: none;
    }
}

/* Grande (laptops, monitores pequeños) */
@media (min-width: 993px) and (max-width: 1200px) {
  /* Laptops */
    .ImageChiresponsive{
        width: 530px !important;
        height: 1090px !important;
    }

    .Woaresponsive{
        margin-top: 36vh !important; 
        height: 600px; 
        z-index: 2;
    }

    .text_chinese{
        font-family: 'Main';
        font-size: 8vw;
        position: absolute;
        top: 50%;
        left: 30%;
        -webkit-text-stroke: 1.5px black;
        color: rgba(255, 217, 0, 0.466);
        transform: translate(-50%, -50%);
        text-align: center;
        white-space: nowrap;
    }

    .text_chinese2{
        font-family: 'Main';
        font-size: 4vw;
        position: absolute;
        top: 65%;
        left: 38%;
        -webkit-text-stroke: 1px black;
        color: rgba(255, 217, 0, 0.925);
        transform: translate(-50%, -50%);
        text-align: center;
        white-space: nowrap;
    }

    .Logoresponsive{
        width: 20%; /* usa porcentaje en lugar de px para que sea responsive */
        position: absolute;
        top: 20%;
        right: 1%;
        transform: translate(0, -50%);
        border-radius: 8px;
    }

    .textresponsive{
        font-family: 'Main'; 
        transform: translate(1%, 98%)!important; 
        background-color: #00000067;  
        text-align: center; 
        width: 100% !important; 
        font-size: 65px !important;  
        color: azure;
        text-align: center;
    }

    .cardplatilloresponsive{
        width: 215px !important;
    }

    .cardcomboresponsive{
        margin: 5px 0px 25px -50px;
    }

}

/* Extra grande (pantallas grandes, monitores 1080p o más) */
@media (min-width: 1201px) {
  /* PCs grandes */
  
}